EaiConverterTest/ressources/xsdtest2.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="group" >
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="xmlstring" type="xsd:string" />
				<xsd:element name="adminID" type="xsd:string" />
				<xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="key" type="xsd:string" />
							<xsd:element name="value" type="xsd:string" />	
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
